{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "strict": 0,
    "quotes": [
      1,
      "double",
      "avoid-escape"
    ],
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "valid-jsdoc": [
      2,
      {
        "prefer": {
          "return": "returns"
        },
        "requireReturn": false
      }
    ],
    "block-scoped-var": 2,
    "space-before-function-paren": 2
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": false
  }
}
