/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
    /* Prevent scroll on narrow devices */
    overflow-x: hidden;
}

body {
    padding-top: 70px;
}

footer {
    padding: 30px 0;
}

.toggler {
    display: block;
}

ul.nav span.fa {
    font-size: 20px;
    padding-right: 5px;
}

@media screen and (max-width: 991px) {

}


/**
 *see https://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685
 */
@-moz-document url-prefix() {
  fieldset {
      display: table-cell;
  }
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

@media screen and (max-width: 350px) {

}
