{% extends "base.html" %}
{% block head %}
{{ super() }}

<link href="{{ url_for('static', filename = 'css/widget_seats.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div id="widget_seats">
    <div id="widget_seats_placed" class="row">
        <!-- ko foreach: groups -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="seats_list panel panel-info">
                <div class="panel-heading">
                    <b data-bind="visible: !show_input(), text: name, click: edit">&nbsp;</b>
                    <input class="form-control" type="text" placeholder="No group name" data-bind="visible: show_input, value: name, hasFocus: editing" />
                    <a class="btn btn-danger btn-xs pull-right" href="#" data-bind="click: $parent.group_remove">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                </div>
                <ul class="list-group" data-bind="sortable: {foreach: people, options: {handle: '.fa-bars', onAdd: onAdd, onRemove: onRemove, animation: 150}}">
                    <li class="list-group-item vcenter">
                        <!-- ko ifnot: fake-->
                        <i class="fa fa-bars fa-fw fa-2x"></i>
                        <!-- /ko -->
                        <span class="" data-bind="text: format()"></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
        <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
        <div id="seats_list_add" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div class="seats_list panel panel-default">
                <div class="panel-heading">
                    Add new group
                </div>
                <div class="panel-body">
                    <form id="seats_list_group_add" class="form-inline" data-bind="submit: group_form_add">
                        <div class="input-group">
                            <input id="seats_list_group_add_name" value="" class="form-control" type="text" placeholder="Group name">
                            <a type="submit" class="input-group-addon" href="#" onclick="$('form#seats_list_group_add').submit();">
                                <i class="fa fa-plus-square fa-align-center fa-adjust"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="widget_seats_unplaced" class="well row" data-bind="with: nypp">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="seats_list panel panel-primary">
                <div class="panel-heading">
                    <span data-bind="text: name"></span>
                </div>
                <ul class="list-group" data-bind="sortable: {foreach: people, options: {handle: '.fa-bars', onAdd: onAdd, onRemove: onRemove, animation: 150}}">
                    <li class="list-group-item vcenter">
                        <!-- ko ifnot: fake-->
                        <i class="fa fa-bars fa-fw fa-2x"></i>
                        <!-- /ko -->
                        <span style="height: 100%" class="" data-bind="text: format()"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
